
<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->


    <!-- Main Site -->
    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <a href="/add-advertisement" class="border-shadow">
                    <span class="text-gradient">Add job <i class="fas fa-user"></i></span>
                    <div class="filter">
                        <a href="/"><i class="fas fa-angle-double-left"></i> Menu principal</a>
                    </div>
                </a>
            </div>
            <!-- form handling -->
            <form action="/" method="POST">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>jobName</th>
                            <th>location</th>
                            <th>salary</th>
                            <th>description</th>
                            <th>detailed description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%- include('include/_advShow') %>
                    </tbody>
                </table>
            </form>
        </div>
    </main>
<!-- /Main Site -->


<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->